.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
}

.signup-form > input {
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  width: 320px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-container > .error-message {
  position: fixed;
  margin-top: 300px;
  color: red;
  font-weight: bold;
  border: 2px solid red;
  border-radius: 8px;
  padding: 10px;
}

.invalid {
  border: 1px red solid;
  background-color: rgb(255, 144, 144);
}

.loading-indicator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
