.loading-text-container {
  display: flex;
  height: 888px;
  justify-content: center;
}

.loading-text {
  align-self: center;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: bolder;
}

.feature-text {
  justify-self: center;
  margin-top: 80px;
  font-size: xx-large;
}
