@import "./base";

/* Loading wave animation */

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-0.9375rem);
  }
}

@-webkit-keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-0.9375rem);
  }
}

/* Loading shine animation for display skeletons */

@keyframes shine {
  0%,
  50%,
  100% {
    background-color: white;
  }
  25%,
  75% {
    background-color: $color-light-grey;
  }
}

@-webkit-keyframes shine {
  0%,
  50%,
  100% {
    background-color: white;
  }
  25%,
  75% {
    background-color: $color-light-grey;
  }
}
