// Standard font size: 16px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;

  @include respond(big-desktop) {
    font-size: 14px;
  }

  @include respond(med-desktop) {
    font-size: 12px;
  }

  @include respond(med-tab) {
    font-size: 10px;
  }

  @include respond(small-tab) {
    font-size: 8px;
  }
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

select,
input {
  font-size: 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  &__text-container {
    width: 80%;
  }

  &__search-container {
    width: 28rem;
    border: 3px solid $color-red;
    border-radius: 18px;
    padding: 0.75rem;
    margin-top: 2rem;
    box-shadow: 4px 4px 10px $color-dark-grey;
  }

  &__pawprint-img {
    width: 15rem;
    margin: 2.5rem;
  }
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;

  &--org {
    width: 45.5rem;
    height: 100%;

    &__message {
      display: flex;
      align-items: center;
      height: 26.0625rem;

      p {
        width: 100%;
        text-align: center;
        color: $color-red;
      }
    }
  }

  &__message {
    display: flex;
    align-items: center;
    height: 100%;

    p {
      width: 100%;
      text-align: center;
      color: $color-red;
    }
  }
}

/* Custom scrollbar styles */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 $color-dark-grey;
}

::-webkit-scrollbar-thumb {
  background-color: $color-blue;
  border-radius: 3px;

  &:hover {
    background-color: $color-light-blue;
  }
}
