@import "colors";

.button-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-right: 30px;

  &-bottom {
    @extend .button-container;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    margin: 90px 0;
  }
}

.button {
  border: 0.5px solid black;
  border-radius: 4px;
  color: white;
  height: 40px;
  margin: 5px;
  width: 90px;

  &-main {
    @extend .button;
    background-color: $color-red;

    &:hover {
      background-color: $color-light-red;
      cursor: pointer;
    }
  }

  &-alt {
    @extend .button;
    background-color: $color-blue;

    &:hover {
      background-color: $color-light-blue;
      cursor: pointer;
    }
  }

  &-display-item {
    width: 250px;
    height: 70px;
    border-radius: 6px;
    margin-bottom: 28px;
  }

  &-inline {
    border: none;
    background-color: white;
    font-size: inherit;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.disabled {
  background-color: $color-dark-grey;
  border: 0.5px solid $color-dark-grey;

  &:hover {
    cursor: default;
    background-color: $color-dark-grey;
    border: 0.5px solid $color-dark-grey;
  }
}
