.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: "helvetica";

  h1 {
    margin: 30px 0 30px 0;
  }
}

.not-found-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
