.loading-indicator-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 1050px;
  min-height: 600px;
}

.display-item-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 1000px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.display-page-container {
  display: flex;
  justify-content: center;
}
