.display-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 1000px;

  &-organization {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    justify-content: center;
    margin-top: 20px;

    &-page {
      display: flex;
      justify-content: center;
    }

    &-skeleton {
      display: flex;
      width: 1050px;
      justify-content: center;
      margin-top: 20px;
    }
  }

  &-pet {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    justify-content: center;
    margin-top: 20px;

    &-page {
      display: flex;
      justify-content: center;
    }

    &-skeleton {
      display: flex;
      flex-wrap: wrap;
      width: 1050px;
      justify-content: center;
      margin-top: -83px;
    }
  }
}

.display-item {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 400px;
  border: 2px solid #0f5797;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  box-shadow: 6px 6px 8px darkgrey;

  &:hover {
    cursor: pointer;
    background-color: rgba(235, 233, 233, 0.527);
  }

  &-organization {
    @extend .display-item;
    display: flex;
    border: 3px solid #0f5797;
    width: 900px;
    height: 560px;
    margin-bottom: 36px;
    align-items: center;

    &-content {
      display: flex;
      flex-wrap: wrap;
      width: 800px;
      justify-content: space-between;
      padding: 0 20px 0 20px;
    }
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 400px;

  &-address {
    margin-bottom: 30px;
  }

  p {
    font-size: 26px;
    margin-bottom: 6px;
  }
}

.display-item-name {
  align-self: center;
  font-size: 28px;
  margin-bottom: 60px;

  &-organization {
    @extend .display-item-name;
    font-size: 34px;
  }
}
