@import "./colors";

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 40px;
    margin-top: -14px;
  }
}

.filter-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 700px;
  padding: 12px;
  border: 2px solid $color-blue;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 4px 4px 6px darkgrey;

  &-label {
    font-size: 20px;
    margin-top: 18px;
  }
}

.sticky {
  position: sticky;
  top: 7vh;
}
