@import "./colors";
@import "./breakpoints";

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;

  h2 {
    margin-bottom: 40px;
    margin-top: -14px;
  }
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 600px;
  padding: 12px;
  border: 3px solid $color-blue;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 4px 4px 6px darkgrey;

  &-organization {
    @extend .filter-form;
    height: 200px;
  }

  label {
    font-size: 20px;
    margin-top: 18px;
  }

  button {
    align-self: center;
  }
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
}

.form-input {
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  width: 320px;
}

.filter-input {
  margin: 14px 0;
  width: 280px;
  height: 40px;
  border: 1px solid black;
  border-radius: 3px;
}

.invalid {
  border: 1px $color-red solid;
  background-color: rgb(255, 144, 144);
}

.error-message {
  color: $color-red;
}

.sticky {
  position: sticky;
  top: 2vh;
}

@media (max-width: $breakpoint-medium-desktop) {
  .filter-form,
  .filter-form-organization {
    width: 270px;
    margin-left: 20px;

    .filter-input {
      width: 260px;
    }
  }
}

@media (max-width: $breakpoint-min-desktop) {
  .filter-form {
    width: 200px;

    input,
    select {
      max-width: 193px;
    }
  }

  .filter-form-organization {
    width: 200px;

    input,
    select {
      max-width: 193px;
    }
  }
}

@media (max-width: $breakpoint-max-tablet) {
  .display-container-pet-page {
    .filter-form {
      width: 150px;
      height: 500px;
      margin-left: 40px;

      input,
      select {
        max-width: 140px;
        height: 30px;
      }

      label {
        font-size: 14px;
      }

      button {
        width: 60px;
        height: 40px;
        font-size: 10px;
      }
    }
  }

  .filter-form-organization {
    width: 150px;
    height: 150px;
    margin-left: 40px;

    input {
      max-width: 140px;
      height: 30px;
    }

    label {
      font-size: 14px;
    }

    button {
      width: 60px;
      height: 40px;
      font-size: 10px;
    }
  }
}

@media (max-width: $breakpoint-max-mobile) {
  .display-container-pet-page {
    .filter-form {
      width: 60px;
      height: 480px;

      input,
      select {
        width: 57px;
        height: 30px;
      }

      button {
        width: 46px;
        height: 30px;
      }
    }
  }

  .filter-form-organization {
    width: 60px;
    height: 130px;

    input {
      max-width: 57px;
      height: 30px;
    }

    button {
      width: 46px;
      height: 30px;
    }
  }
}
