body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
}

h3 {
  font-weight: lighter;
  font-size: 24px;
}

p {
  font-size: 20px;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  margin: 0;
}
