@import "./colors";

.form-input {
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  width: 320px;
  margin-bottom: 30px;
}

.filter-input {
  margin: 14px 0;
  width: 280px;
  height: 40px;
  border: 1px solid black;
  border-radius: 3px;
}

.invalid {
  border: 1px $color-red solid;
  background-color: rgb(255, 144, 144);
}
