/*
  Classes associated with our Modal
*/

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 30vh;
  left: 28.6%;
  width: 40%;
  z-index: 100;
  overflow: hidden;
  height: 360px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 30px;

  .x-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
      width: 28px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
