.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 30vh;
  left: 28.6%;
  width: 40%;
  z-index: 100;
  overflow: hidden;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 30px;
}
