/* Colors */

$color-red: #952923;
$color-light-red: #b94341;
$color-lighter-red: #d5403d;
$color-lightest-red: #fe3e3b;
$color-pink: rgb(255, 144, 144);
$color-blue: #003d71;
$color-light-blue: #20629c;
$color-lightest-grey: rgb(248, 245, 245);
$color-lighter-grey: rgb(241, 241, 241);
$color-light-grey: rgb(209, 209, 209);
$color-dark-grey: darkgrey;
$color-yellow: rgb(252, 252, 80);

/* Grid */
$grid-width: 65%;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
