/* Colors */

$color-red: #902923;
$color-light-red: #b94341;
$color-pink: rgb(255, 144, 144);
$color-blue: #003d71;
$color-light-blue: #326b9e;
$color-light-grey: rgb(236, 229, 229);
$color-dark-grey: darkgrey;

/* Breakpoints for media queries */

$breakpoint-min-mobile: 365px;
$breakpoint-max-mobile: 479px;
$breakpoint-max-tablet: 872px;
$breakpoint-min-desktop: 1048px;
$breakpoint-medium-desktop: 1184px;
$breakpoint-max-desktop: 1400px;
