/* Colors */

$color-red: #902923;
$color-light-red: #b94341;
$color-pink: rgb(255, 144, 144);
$color-blue: #003d71;
$color-light-blue: #326b9e;
$color-lighter-grey: rgb(241, 241, 241);
$color-light-grey: rgb(209, 209, 209);
$color-dark-grey: darkgrey;
$color-yellow: rgb(252, 252, 80);

/* Grid */
$grid-width: 65%;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;

/* Breakpoints for media queries */

$breakpoint-min-mobile: 365px;
$breakpoint-max-mobile: 479px;
$breakpoint-max-tablet: 872px;
$breakpoint-min-desktop: 1048px;
$breakpoint-medium-desktop: 1184px;
$breakpoint-max-desktop: 1400px;
