.display-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 62.5rem;

  &-organization {
    display: flex;
    flex-wrap: wrap;
    width: 65.625rem;
    justify-content: center;
    margin-top: 1.25rem;

    &-page {
      display: flex;
      justify-content: center;
    }

    &-skeleton {
      display: flex;
      width: 65.625rem;
      justify-content: center;
      margin-top: -4.0625rem;
    }
  }
}
