.content-container--pets {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 38.75rem;
  margin-top: 1.75rem;
  z-index: 100;

  @include respond(med-mobile) {
    flex-direction: column;
  }
}

.content-container--organizations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 36.25rem;
  margin-top: 1.75rem;
  z-index: 100;
}

.map-display-container {
  width: 100%;
  height: 270px;
  border-bottom: 1px solid black;

  @include respond(med-mobile) {
    height: 274px;
    border-top: 2px solid $color-red;
    border-bottom: 2px solid $color-red;
  }

  div > .map-container > div {
    height: 270px !important;
  }
}

.detailed-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p:last-of-type {
    margin-bottom: 2rem;
  }
}
