h1 {
  font-size: 55px;
  font-weight: 500;
}

h2 {
  margin-top: -25px;
}

#welcome-text {
  text-align: center;
  padding-top: 30px;
  margin-right: 800px;
  margin-bottom: -42px;
  font-size: 28px;
  color: #8c1c13;
  font-family: "Lucida Handwriting";
  font-style: italic;
  transform: rotate(-8deg);
}
