h1 {
  font-size: 55px;
  font-weight: 500;
}

h2 {
  margin-top: -25px;
}

h1,
h2,
p {
  text-align: center;
}

.welcome-text {
  text-align: center;
  width: 200px;
  padding-top: 30px;
  margin-left: 530px;
  margin-bottom: -42px;
  font-size: 28px;
  color: #8c1c13;
  font-family: "Lucida Handwriting";
  font-style: italic;
  transform: rotate(-8deg);
}
