@charset "UTF-8";
/* abstracts */
/* Colors */
/* Grid */
/* Breakpoints for media queries */
/* base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main-content__text-container {
  width: 80%;
}
.main-content__search-container {
  width: 28rem;
  border: 3px solid #902923;
  border-radius: 18px;
  padding: 0.75rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px darkgrey;
}
.main-content__pawprint-img {
  width: 15rem;
  margin: 2.5rem;
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}
.no-data-message-container--org {
  width: 45.5rem;
  height: 100%;
}
.no-data-message-container--org__message {
  display: flex;
  align-items: center;
  height: 26.0625rem;
}
.no-data-message-container--org__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}
.no-data-message-container__message {
  display: flex;
  align-items: center;
  height: 100%;
}
.no-data-message-container__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #003d71;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #326b9e;
}

/* Loading wave animation */
@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}
/* Loading shine animation for display skeletons */
@keyframes shine {
  0%, 50%, 100% {
    background-color: white;
  }
  25%, 75% {
    background-color: #d1d1d1;
  }
}
@-webkit-keyframes shine {
  0%, 50%, 100% {
    background-color: white;
  }
  25%, 75% {
    background-color: #d1d1d1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main-content__text-container {
  width: 80%;
}
.main-content__search-container {
  width: 28rem;
  border: 3px solid #902923;
  border-radius: 18px;
  padding: 0.75rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px darkgrey;
}
.main-content__pawprint-img {
  width: 15rem;
  margin: 2.5rem;
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}
.no-data-message-container--org {
  width: 45.5rem;
  height: 100%;
}
.no-data-message-container--org__message {
  display: flex;
  align-items: center;
  height: 26.0625rem;
}
.no-data-message-container--org__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}
.no-data-message-container__message {
  display: flex;
  align-items: center;
  height: 100%;
}
.no-data-message-container__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #003d71;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #326b9e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body p {
  font-size: 1.2rem;
}

.heading--small {
  font-size: 1.4rem;
  font-weight: 500;
}

.heading--medium {
  font-size: 1.8rem;
  font-weight: 500;
}

.heading--large {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0.8rem;
}

.welcome-text {
  margin-top: 1.25rem;
  margin-bottom: -0.25rem;
  margin-left: -1.375rem;
  text-align: center;
  width: 12.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #902923;
  font-family: "Lucida Handwriting";
  font-style: italic;
  transform: rotate(-8deg);
}

/* components */
.btn, .btn--alt, .btn--main {
  border: 0.5px solid black;
  border-radius: 4px;
  color: white;
  height: 2.5rem;
  margin: 0.3125rem;
  width: 5.625rem;
  box-shadow: 0 1px 6px 0.1px lightgrey;
  transition: all 0.2s;
}
.btn--main {
  background-color: #902923;
}
.btn--main:hover {
  background-color: #b94341;
  cursor: pointer;
  transform: translateY(-0.25rem);
  box-shadow: 0 5px 13px 3px darkgrey;
}
.btn--main:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1.5px 10px 2px darkgrey;
}
.btn--alt {
  background-color: #003d71;
}
.btn--alt:hover {
  background-color: #326b9e;
  cursor: pointer;
  transform: translateY(-0.2rem);
  box-shadow: 0 5px 13px 3px darkgrey;
}
.btn--alt:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1.5px 10px 2px darkgrey;
}
.btn--large {
  width: 15.625rem;
  height: 4.375rem;
  border-radius: 6px;
  margin-bottom: 1.75rem;
}
.btn--large:hover {
  cursor: pointer;
  transform: translateY(-0.25rem);
  box-shadow: 0 6px 16px 3px darkgrey;
}
.btn--large:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 4px 12px 3px darkgrey;
}
.btn--inline {
  border: none;
  background-color: white;
  font-size: inherit;
  text-decoration: underline;
}
.btn--inline:hover {
  cursor: pointer;
}

.disabled {
  background-color: darkgrey;
  border: 0.5px solid darkgrey;
  box-shadow: none;
}
.disabled:hover {
  cursor: default;
  background-color: darkgrey;
  border: 0.5px solid darkgrey;
  box-shadow: none;
  transform: none;
}

.btn-container-bottom {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3.75rem;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.slider-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back-arrow,
.forward-arrow {
  width: 1.25rem;
}

.display-container-carousel {
  display: flex;
  overflow: hidden;
  width: 50rem;
}

.display-item-carousel {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  height: 25rem;
  border: 0.1875rem solid #0f5797;
  border-radius: 10px;
  margin: 0.625rem;
  padding: 0.625rem;
  align-items: center;
  box-shadow: 6px 6px 8px darkgrey;
}
.display-item-carousel:hover {
  cursor: pointer;
  background-color: rgba(235, 233, 233, 0.527);
}

.carousel-active {
  display: block;
}

.carousel-inactive {
  display: none;
}

/*
  Classes associated with our pet and organization display items and containers
*/
.org-display-container {
  margin-top: 2rem;
  width: 84.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.org-display-container__content {
  width: 100%;
  margin-right: auto;
  margin-left: 1.5rem;
}

.pet-display-container {
  margin-top: 2rem;
  width: 84.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pet-display-container--featured {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.pet-display-container--featured__content {
  width: 80rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.2rem;
  justify-content: center;
}
.pet-display-container__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: 1.5rem;
}

.display-item, .display-item--org, .display-item--pet {
  margin: 0 auto;
  margin-bottom: 1.2rem;
  transition: all 0.2s;
  box-shadow: 0 4px 8px 1px darkgrey;
}
.display-item:hover, .display-item--org:hover, .display-item--pet:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  box-shadow: 0 8px 18px 3px darkgrey;
}
.display-item__name {
  font-size: 1.7rem;
  margin: 0.6rem;
}
.display-item--pet {
  height: 30rem;
  width: 20rem;
  border: 3px solid #0f5797;
  border-radius: 10px;
  margin-right: 1.2rem;
  margin-left: 0;
}
.display-item--pet__content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 80%;
  width: 90%;
}
.display-item--org {
  height: 28rem;
  width: 44rem;
  border: 3px solid #0f5797;
  border-radius: 10px;
  margin-left: 0;
}
.display-item--org__content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 80%;
  width: 90%;
}
.display-item--org__content .info-container {
  height: 16rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.display-item--org__content .info-container__address {
  margin-bottom: 1rem;
}
.display-item--org__content .info-container p {
  font-size: 1.4rem;
  overflow-wrap: break-word;
}

.display-container-favorites {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 34.375rem;
}

.favorites-icon, .favorite {
  position: relative;
  left: 0.25rem;
  top: 0.0625rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 80;
  font-size: 1.5rem;
  content: "★";
  background-color: inherit;
  border: none;
  color: #d1d1d1;
}
.favorites-icon:hover, .favorite:hover {
  color: #fcfc50;
  cursor: pointer;
  text-shadow: black 0px 0px 1px;
}

.favorite {
  cursor: pointer;
  text-shadow: black 0px 0px 1px;
  color: #fcfc50;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main-content__text-container {
  width: 80%;
}
.main-content__search-container {
  width: 28rem;
  border: 3px solid #902923;
  border-radius: 18px;
  padding: 0.75rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px darkgrey;
}
.main-content__pawprint-img {
  width: 15rem;
  margin: 2.5rem;
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}
.no-data-message-container--org {
  width: 45.5rem;
  height: 100%;
}
.no-data-message-container--org__message {
  display: flex;
  align-items: center;
  height: 26.0625rem;
}
.no-data-message-container--org__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}
.no-data-message-container__message {
  display: flex;
  align-items: center;
  height: 100%;
}
.no-data-message-container__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #003d71;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #326b9e;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.auth-form-container__form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.auth-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-input-container__input {
  width: 60%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1.2rem;
}

.filter-container {
  max-width: 20rem;
  min-width: 20rem;
}

.filter-form, .filter-form--org {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  height: 39.375;
  padding: 0.75rem;
  border: 3px solid #003d71;
  border-radius: 10px;
  box-shadow: 4px 4px 6px darkgrey;
  margin-left: auto;
  margin-right: 1.5rem;
}
.filter-form--org {
  height: 12.5rem;
}
.filter-form__input {
  margin: 14px 0;
  width: 85%;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 3px;
}
.filter-form label, .filter-form--org label {
  font-size: 1.25rem;
  margin-top: 1.125rem;
}
.filter-form button, .filter-form--org button {
  align-self: center;
}

.invalid {
  border: 1px #902923 solid;
  background-color: #ff9090;
}

.error-message, .error-message__password, .error-message__email {
  color: #902923;
  position: absolute;
}
.error-message__email {
  top: 12.375rem;
}
.error-message__password {
  top: 16.75rem;
}

.sticky {
  position: sticky;
  top: 2vh;
}

.main-image {
  display: inline-block;
  align-self: center;
  margin: 6rem 0;
  width: 60%;
}
.main-image__img {
  min-width: 71.699375rem;
  min-height: 51.663rem;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: #003d71 solid 3px;
}

.image-container, .image-container--org {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 16.25rem;
  height: 16.25rem;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  margin-left: 0.875rem;
}
.image-container--org {
  width: 16rem;
  height: 16rem;
}
.image-container--org img {
  width: 16rem;
  object-fit: contain;
}
.image-container--pet {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  margin: 0 auto;
}
.image-container--large, .image-container--large-org {
  display: flex;
  justify-content: center;
  height: fit-content;
  max-height: 37.5rem;
  width: auto;
  margin: 2.5rem 4.375rem 2.5rem 0;
}
.image-container--large-org {
  margin-right: 0;
}
.image-container--large img, .image-container--large-org img {
  height: fit-content;
  max-height: 37.5rem;
  width: auto;
  border: 3px solid #902923;
  border-radius: 5px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main-content__text-container {
  width: 80%;
}
.main-content__search-container {
  width: 28rem;
  border: 3px solid #902923;
  border-radius: 18px;
  padding: 0.75rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px darkgrey;
}
.main-content__pawprint-img {
  width: 15rem;
  margin: 2.5rem;
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}
.no-data-message-container--org {
  width: 45.5rem;
  height: 100%;
}
.no-data-message-container--org__message {
  display: flex;
  align-items: center;
  height: 26.0625rem;
}
.no-data-message-container--org__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}
.no-data-message-container__message {
  display: flex;
  align-items: center;
  height: 100%;
}
.no-data-message-container__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #003d71;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #326b9e;
}

.wave-loader-container {
  text-align: center;
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.wave-loader-container .dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: 0.1875rem;
  background: #902923;
  -webkit-animation: wave 1.3s linear infinite;
  animation: wave 1.3s linear infinite;
}
.wave-loader-container .dot:nth-child(2) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.wave-loader-container .dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.shine {
  -webkit-animation: shine 3s linear infinite;
  animation: shine 3s linear infinite;
}
.shine:nth-child(2) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.shine:nth-child(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.shine:hover {
  cursor: default;
  background-color: inherit;
}

.loading-bouncer-container {
  margin-top: 2.1875rem;
  display: flex;
  flex-direction: row;
}

.loading-indicator-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 37.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main-content__text-container {
  width: 80%;
}
.main-content__search-container {
  width: 28rem;
  border: 3px solid #902923;
  border-radius: 18px;
  padding: 0.75rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px darkgrey;
}
.main-content__pawprint-img {
  width: 15rem;
  margin: 2.5rem;
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}
.no-data-message-container--org {
  width: 45.5rem;
  height: 100%;
}
.no-data-message-container--org__message {
  display: flex;
  align-items: center;
  height: 26.0625rem;
}
.no-data-message-container--org__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}
.no-data-message-container__message {
  display: flex;
  align-items: center;
  height: 100%;
}
.no-data-message-container__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #003d71;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #326b9e;
}

.main-search-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
  border: #003d71 3px solid;
  width: 18.75rem;
  height: 10rem;
  border-radius: 1.25rem;
  padding: 1.875rem 3.125rem;
  margin-bottom: 3.75rem;
  margin-top: 3.75rem;
  box-shadow: 2px 2px 2px darkgrey;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-form__select {
  border: 1px solid black;
  border-radius: 5px;
  width: 8.75rem;
  height: 1.875rem;
  margin-bottom: 0.875rem;
  box-shadow: 1px 1px 2px darkgrey;
}
.search-form p {
  margin-bottom: 1.25rem;
}

/* layout */
.backdrop, .backdrop-clear {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 190;
  background: rgba(0, 0, 0, 0.75);
}
.backdrop-clear {
  background: rgba(0, 0, 0, 0);
  cursor: wait;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main-content__text-container {
  width: 80%;
}
.main-content__search-container {
  width: 28rem;
  border: 3px solid #902923;
  border-radius: 18px;
  padding: 0.75rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px darkgrey;
}
.main-content__pawprint-img {
  width: 15rem;
  margin: 2.5rem;
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}
.no-data-message-container--org {
  width: 45.5rem;
  height: 100%;
}
.no-data-message-container--org__message {
  display: flex;
  align-items: center;
  height: 26.0625rem;
}
.no-data-message-container--org__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}
.no-data-message-container__message {
  display: flex;
  align-items: center;
  height: 100%;
}
.no-data-message-container__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #003d71;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #326b9e;
}

.footer-container {
  display: flex;
  width: 100%;
  height: 3.125rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: #902923;
  margin-top: 3.75rem;
}
.footer-container__sponsor-info {
  width: 31.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-container__links-section {
  width: 12.5rem;
  display: flex;
  justify-content: space-evenly;
}
.footer-container p {
  font-size: 1rem;
  color: white;
}
.footer-container button {
  font-size: 1rem;
  color: white;
  background-color: #902923;
  border: none;
}
.footer-container button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer-container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer-container .footer-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: inherit;
  width: auto;
  background-color: #902923;
  border: none;
}
.footer-container .footer-image-container:hover {
  cursor: pointer;
}
.footer-container img:nth-of-type(1) {
  margin-right: 0.625rem;
  height: 1rem;
  width: 6.25rem;
}
.footer-container img:nth-of-type(2) {
  width: 5.625rem;
}

.row {
  min-width: 65%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 2rem;
}
.row .col-1-of-2 {
  width: calc((100% - 2rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 2rem) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 2rem) / 3) + 2rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 2rem) / 4);
}
.row .col-2-of-4 {
  width: calc(
      (2 * (100% - 3 * 2rem) / 4) + 2rem
    );
}
.row .col-3-of-4 {
  width: calc(
      (3 * (100% - 3 * 2rem) / 4) + 2 * 2rem
    );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main-content__text-container {
  width: 80%;
}
.main-content__search-container {
  width: 28rem;
  border: 3px solid #902923;
  border-radius: 18px;
  padding: 0.75rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px darkgrey;
}
.main-content__pawprint-img {
  width: 15rem;
  margin: 2.5rem;
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}
.no-data-message-container--org {
  width: 45.5rem;
  height: 100%;
}
.no-data-message-container--org__message {
  display: flex;
  align-items: center;
  height: 26.0625rem;
}
.no-data-message-container--org__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}
.no-data-message-container__message {
  display: flex;
  align-items: center;
  height: 100%;
}
.no-data-message-container__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #003d71;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #326b9e;
}

/* Classes associated with the header */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 9.0625rem;
  border-top: 1px black solid;
}
.header__profile-container {
  display: flex;
  margin-right: 8.75rem;
}
.header__title-container {
  width: fit-content;
  justify-content: center;
  align-content: center;
  margin-left: 8.75rem;
}
.header__btn-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-right: 1.875rem;
}
.header__btn-container-bottom {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
  margin: 5.625rem 0;
}
.header__profile-picture-container {
  width: 3.75rem;
  height: 3.75rem;
  background-color: grey;
  border: 1px solid black;
  border-radius: 50%;
  justify-self: flex-end;
  align-self: center;
}
.header__profile-picture-container img {
  width: 3.625rem;
  height: 3.625rem;
  border-radius: inherit;
}

/*
  Classes associated with our Modal
*/
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 30vh;
  left: 28.6%;
  width: 40%;
  z-index: 200;
  overflow: hidden;
  height: 26rem;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 1.875rem;
}
.modal__x-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal__x-container img {
  width: 1.75rem;
}
.modal__x-container img:hover {
  cursor: pointer;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

a {
  margin: 0 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.main-content__text-container {
  width: 80%;
}
.main-content__search-container {
  width: 28rem;
  border: 3px solid #902923;
  border-radius: 18px;
  padding: 0.75rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 10px darkgrey;
}
.main-content__pawprint-img {
  width: 15rem;
  margin: 2.5rem;
}

.no-data-message-container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}
.no-data-message-container--org {
  width: 45.5rem;
  height: 100%;
}
.no-data-message-container--org__message {
  display: flex;
  align-items: center;
  height: 26.0625rem;
}
.no-data-message-container--org__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}
.no-data-message-container__message {
  display: flex;
  align-items: center;
  height: 100%;
}
.no-data-message-container__message p {
  width: 100%;
  text-align: center;
  color: #902923;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125 darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #003d71;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #326b9e;
}

/* Classes associated with our Navbar, including subnavs */
.navbar {
  width: 100%;
  height: 3.125rem;
  background-color: #902923;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
}
.navbar ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subnav {
  display: flex;
  justify-content: space-evenly;
  width: 17.5rem;
  height: 100%;
  background-color: #902923;
}
.subnav a {
  color: white;
  text-decoration: none;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.subnav a:hover {
  height: 100%;
  background-color: #b94341;
  cursor: pointer;
}

.active {
  background-color: #b94341;
}

/* pages */
.about-page-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.about-page-text {
  width: 70%;
  margin-bottom: 1.125rem;
}

.content-container--pets {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 38.75rem;
  margin-top: 1.75rem;
  z-index: 100;
}

.content-container--organizations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 36.25rem;
  margin-top: 1.75rem;
  z-index: 100;
}

.map-display-container {
  width: 100%;
  height: 16.875rem;
  border-bottom: 1px solid black;
}

.detailed-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailed-info-container p:last-of-type {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=styles.css.map */
