/* Global Styles */
/* This stylesheet is shared amongst all components; implemented using Layout.js */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
}

h3 {
  font-weight: lighter;
  font-size: 24px;
}

p {
  font-size: 20px;
}

h1,
h2,
h3,
p {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  margin: 0;
}

/* Page Content */

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: "helvetica";
}

.main-content > h1 {
  margin: 40px 0 20px 0;
}

/* All Buttons */

button {
  border: 0.5px solid black;
  border-radius: 4px;
  color: white;
  height: 40px;
  margin: 5px;
  width: 90px;
}

.button-main {
  background-color: #902923;
}

.button-main:hover {
  background-color: #a22c29;
  cursor: pointer;
}

.button-alt {
  background-color: #003d71;
}

.button-alt:hover {
  background-color: #326b9e;
  cursor: pointer;
}

.button-display-item {
  width: 150px;
  height: 70px;
  border-radius: 6px;
}

/* Shared Containers */

.loading-indicator-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 600px;
}

.display-item-container {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 1000px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

/* Display items */

.display-item {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 400px;
  border: 2px solid #0f5797;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  align-items: center;
  box-shadow: 6px 6px 8px darkgrey;
}

.organization-display-item {
  display: flex;
  border: 3px solid #0f5797;
  width: 970px;
  height: 560px;
  margin-bottom: 36px;
  align-items: center;
}

.display-item:hover {
  cursor: pointer;
  background-color: rgba(235, 233, 233, 0.527);
}

.display-item-name {
  align-self: center;
  font-size: 28px;
  margin-bottom: 60px;
}

.organization-item-name {
  font-size: 34px;
}

/* Form Inputs */

.form-input {
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  width: 320px;
  margin-bottom: 30px;
}

.invalid {
  border: 1px red solid;
  background-color: rgb(255, 144, 144);
}

/* Errors */

.error-message {
  position: fixed;
  margin-top: 300px;
  color: red;
  font-weight: bold;
  border: 2px solid red;
  border-radius: 8px;
  padding: 10px;
}
