.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: "helvetica";
  background-color: #fcfafc;
}

.homepage-text-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-content: center;
}

.homepage-text-container h3 {
  font-family: inherit;
  justify-self: center;
  align-self: center;
  font-size: 36px;
}

.homepage-text-container p {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-family: inherit;
  width: 820px;
}

.feature-text {
  justify-self: center;
  margin-top: 80px;
  font-size: xx-large;
  margin-left: 0;
  margin-right: 0;
  margin-top: 90px;
}
