.profile-picture-container {
  width: 60px;
  height: 60px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 50%;
  justify-self: flex-end;
  align-self: center;
}

.profile-picture-container img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
