.btn {
  border: 0.5px solid black;
  border-radius: 4px;
  color: white;
  height: 2.5rem;
  margin: 0.3125rem;
  width: 5.625rem;
  box-shadow: 0 1px 6px 0.1px lightgrey;
  transition: all 0.2s;
  font-size: 1rem;

  @include respond(med-desktop) {
    height: 2.9166rem;
    margin: 0.546875rem;
    width: 6.5625rem;
  }

  @include respond(small-desktop) {
    min-width: 76.75px;
    min-height: 32.984px;
    font-size: 10px;
  }

  &--main {
    @extend .btn;
    background-color: $color-red;

    &:hover {
      background-color: $color-light-red;
      cursor: pointer;
      transform: translateY(-0.25rem);
      box-shadow: 0 4px 12px 2px darkgrey;
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 1.5px 10px 2px darkgrey;
    }
  }

  &--alt {
    @extend .btn;
    background-color: $color-blue;

    @include respond(med-mobile) {
      box-shadow: none;
    }

    &:hover {
      background-color: $color-light-blue;
      cursor: pointer;
      transform: translateY(-0.2rem);
      box-shadow: 0 4px 12px 2px darkgrey;
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 1.5px 10px 2px darkgrey;
    }
  }

  &--large {
    width: 15.625rem;
    height: 4.375rem;
    border-radius: 6px;
    margin-bottom: 1.75rem;

    @include respond(small-desktop) {
      min-width: 134.25px;
      min-height: 41.75px;
    }

    @include respond(x-small-mobile) {
      min-width: 118px;
      min-height: 34px;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-0.25rem);
      box-shadow: 0 6px 16px 3px darkgrey;
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 4px 12px 3px darkgrey;
    }
  }

  &--inline {
    border: none;
    background-color: white;
    font-size: inherit;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.disabled {
  background-color: $color-dark-grey;
  border: 0.5px solid $color-dark-grey;
  box-shadow: none;

  &:hover {
    cursor: default;
    background-color: $color-dark-grey;
    border: 0.5px solid $color-dark-grey;
    box-shadow: none;
    transform: none;
  }
}

.btn-container-bottom {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3.75rem;

  @include respond(med-mobile) {
    margin-left: 0;
  }
}
