.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.slider-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back-arrow,
.forward-arrow {
  width: 1.25rem;
}

.display-container-carousel {
  display: flex;
  overflow: hidden;
  width: 50rem;
}

.display-item-carousel {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  height: 25rem;
  border: 0.1875rem solid #0f5797;
  border-radius: 10px;
  margin: 0.625rem;
  padding: 0.625rem;
  align-items: center;
  box-shadow: 6px 6px 8px darkgrey;

  &:hover {
    cursor: pointer;
    background-color: rgba(235, 233, 233, 0.527);
  }
}

.carousel-active {
  display: block;
}

.carousel-inactive {
  display: none;
}
