/*
  Classes associated with our pet and organization display items and containers
*/

.org-display-container {
  margin-top: 2rem;
  width: 84.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include respond(med-mobile) {
    flex-direction: column;
    width: 49.125rem;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 100%;
    margin-right: auto;
    margin-left: 1.5rem;

    @include respond(med-mobile) {
      margin-left: auto;
    }
  }
}

.pet-display-container {
  margin-top: 2rem;
  width: 84.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include respond(small-desktop) {
    width: 62.75rem;
  }

  @include respond(med-tab) {
    width: 63rem;
  }

  @include respond(med-mobile) {
    flex-direction: column;
    width: 49.125rem;
    justify-content: center;
    align-items: center;

    .pet-display-item-container {
      width: 41.25rem;
    }
  }

  &--featured {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    @include respond(med-mobile) {
      flex-direction: column;
      flex-wrap: wrap;
      width: 49.125rem;
      justify-content: center;
      align-items: center;

      .pet-display-item-container {
        width: 41.25rem;
      }
    }

    &__content {
      width: 80rem;
      display: flex;
      flex-wrap: wrap;
      margin-right: -1.2rem;
      justify-content: center;

      @include respond(med-mobile) {
        margin-left: auto;
        margin-right: auto;
        width: auto;
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: 1.5rem;

    @include respond(med-mobile) {
      width: 42.5rem;
      margin-right: 0;
      margin-left: 0;
    }

    @include respond(med-mobile) {
      width: 41.25rem;
    }
  }
}

.display-item {
  margin: 0 auto;
  margin-bottom: 1.2rem;
  transition: all 0.2s;
  box-shadow: 0 4px 8px 1px darkgrey;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 18px 3px darkgrey;
  }

  &__name {
    font-size: 1.5rem;
    margin: 0.6rem;
  }

  &--pet {
    @extend .display-item;
    height: 30rem;
    width: 20rem;
    border: 0.1875rem solid #0f5797;
    border-radius: 10px;
    margin-right: 1.2rem;
    margin-left: 0;

    @include respond(med-tab) {
      height: 29rem;
    }

    @include respond(small-desktop) {
      border: 2px solid $color-blue;
    }

    @include respond(med-mobile) {
      &:nth-child(even) {
        margin-right: 0;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      margin: 0 auto;
      height: 80%;
      width: 90%;
    }
  }

  &--org {
    @extend .display-item;
    height: 28rem;
    width: 44rem;
    border: 0.1875rem solid #0f5797;
    border-radius: 10px;
    margin-left: 0;

    @include respond(small-desktop) {
      border: 2px solid $color-blue;
    }

    &__content {
      display: flex;
      align-items: center;
      margin: 0 auto;
      height: 80%;
      width: 90%;

      .info-container {
        height: 16rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        &__address {
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.4rem;
          overflow-wrap: break-word;
        }
      }
    }
  }
}

.display-container-favorites {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 34.375rem;
}

.favorites-icon {
  position: relative;
  left: 0.25rem;
  top: 0.0625rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 80;
  font-size: 1.5rem;
  content: "\2605";
  background-color: inherit;
  border: none;
  color: $color-light-grey;

  &:hover {
    color: $color-yellow;
    cursor: pointer;
    text-shadow: black 0px 0px 1px;
  }
}

.favorite {
  @extend .favorites-icon;
  cursor: pointer;
  text-shadow: black 0px 0px 1px;
  color: $color-yellow;
}
