@import "../base/base";

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
}

.auth-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__input {
    width: 60%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: 1.2rem;
  }
}

.filter-container {
  max-width: 20rem;
  min-width: 20rem;

  @include respond(med-mobile) {
    max-width: 49.125rem;
    width: 49.125rem;
    height: fit-content;
    margin-bottom: 2.5rem;
  }
}

.filter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  height: 39.375rem;
  padding: 0.75rem;
  border: 0.1875rem solid $color-blue;
  border-radius: 10px;
  box-shadow: 4px 4px 6px darkgrey;
  margin-left: auto;
  margin-right: 1.5rem;

  @include respond(big-desktop) {
    height: 43.43rem;
  }

  @include respond(med-desktop) {
    height: 43.7rem;
  }

  @include respond(small-desktop) {
    border: 2px solid $color-blue;
  }

  @include respond(med-tab) {
    height: 46.7rem;
  }

  @include respond(med-mobile) {
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50rem;
    width: 85%;
    justify-content: center;
    box-shadow: 0 4px 8px 1px darkgrey;
  }

  &--org {
    @extend .filter-form;
    height: 12.5rem;

    @include respond(med-mobile) {
      margin-left: auto;
      margin-right: auto;
      height: 18rem;
      width: 44rem;
      justify-content: center;
    }
  }

  &__input {
    margin: 1.75rem 0;
    width: 85%;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 3px;

    @include respond(med-mobile) {
      width: 65%;
    }
  }

  label {
    font-size: 1.25rem;
    margin-top: 1.125rem;

    @include respond(med-mobile) {
      display: block;
      margin-top: 0;
      margin-right: 3rem;
      margin-left: 3rem;
      width: 15rem;
      text-align: center;
    }
  }

  button {
    align-self: center;

    @include respond(med-mobile) {
      display: block;
      width: 80%;
      margin-right: 14.03125rem;
      margin-left: 14.03125rem;
      margin-bottom: 1.5rem;
    }
  }

  &--mobile-collapsed {
    @extend .filter-form;
    height: 5rem;

    &-org {
      @extend .filter-form--mobile-collapsed;
      width: 44rem;
    }
  }
}

.btn__mobile-form {
  max-width: 10rem;
  margin: 0;
  border: none;
  background-color: transparent;
}

.invalid {
  border: 1px $color-red solid;
  background-color: rgb(255, 144, 144);
}

.error-message {
  color: $color-red;
  position: absolute;

  &__email {
    @extend .error-message;
    top: 12.375rem;
  }

  &__password {
    @extend .error-message;
    top: 16.75rem;
  }
}

.sticky {
  position: sticky;
  top: 2vh;

  @include respond(med-mobile) {
    position: static;
  }
}
