.main-image {
  display: inline-block;
  align-self: center;
  margin: 6rem 0;
  width: 60%;

  &__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: $color-blue solid 3px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 16.25rem;
  height: 16.25rem;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  margin-left: 0.875rem;

  &--org {
    @extend .image-container;
    width: 16rem;
    height: 16rem;

    img {
      width: 16rem;
      object-fit: contain;
    }
  }

  &--pet {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    margin: 0 auto;
  }

  &--large {
    display: flex;
    justify-content: center;
    height: fit-content;
    max-height: 37.5rem;
    width: auto;
    margin: 2.5rem 4.375rem 2.5rem 0;

    &-org {
      @extend .image-container--large;
      margin-right: 0;
    }

    img {
      height: fit-content;
      max-height: 37.5rem;
      width: auto;
      border: 3px solid $color-red;
      border-radius: 5px;
    }
  }

  &--about {
    min-width: 20rem;
    min-height: 20rem;

    img {
      min-width: 18rem;
      min-height: 18rem;
    }
  }
}
