.main-image {
  display: inline-block;
  align-self: center;
  margin: 6rem 0;
  width: 60%;

  &__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: $color-blue solid 3px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 16.25rem;
  height: 16.25rem;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  margin-left: 0.875rem;

  &--org {
    @extend .image-container;
    width: 28rem;
    height: 20rem;
    margin-left: 0;

    @include respond(med-mobile) {
      margin-left: 0;
      width: 18rem;
      height: 18rem;
    }

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  &--pet {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 15.5rem;
    height: 19rem;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    margin: 1.4rem auto 0 auto;

    @include respond(med-tab) {
      max-width: 14rem;
      max-height: 14rem;

      img {
        max-width: 14rem;
        max-height: 14rem;
      }
    }
  }

  &--large {
    display: flex;
    justify-content: center;
    height: fit-content;
    max-height: 37.5rem;
    width: auto;
    margin: 2.5rem 4.375rem 2.5rem 0;

    @include respond(small-desktop) {
      max-width: 600px;
    }

    @include respond(med-tab) {
      max-width: 460px;
    }

    @include respond(small-tab) {
      max-width: 340px;
    }

    @include respond(med-mobile) {
      margin-right: 0;
      max-width: 41.25rem;
    }

    &-org {
      @extend .image-container--large;
      margin-right: 0;

      @include respond(med-mobile) {
        max-width: 41.25rem;
      }
    }

    img {
      height: fit-content;
      max-height: 37.5rem;
      width: auto;
      border: 3px solid $color-red;
      border-radius: 5px;

      @include respond(small-desktop) {
        max-width: 600px;
      }

      @include respond(med-tab) {
        max-width: 460px;
      }

      @include respond(small-tab) {
        max-width: 340px;
      }

      @include respond(med-mobile) {
        max-width: 41.25rem;
      }
    }
  }

  &--about {
    min-width: 20rem;
    min-height: 20rem;

    img {
      min-width: 18rem;
      min-height: 18rem;
    }
  }
}

.display-item-rotate-img {
  margin-top: 2rem;
  width: 2rem;
  height: 2rem;
}