@import "../base/base";

.main-search-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
  border: $color-blue 3px solid;
  width: 18.75rem;
  height: 10rem;
  border-radius: 1.25rem;
  padding: 1.875rem 3.125rem;
  margin-bottom: 3.75rem;
  margin-top: 3.75rem;
  box-shadow: 2px 2px 2px $color-dark-grey;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__select {
    border: 1px solid black;
    border-radius: 5px;
    width: 8.75rem;
    height: 1.875rem;
    margin-bottom: 0.875rem;
    box-shadow: 1px 1px 2px $color-dark-grey;
  }

  p {
    margin-bottom: 1.25rem;
  }
}
