@import "../base/base";

.footer-container {
  display: flex;
  width: 100%;
  height: 3.125rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-red;
  margin-top: 3.75rem;

  &__sponsor-info {
    width: 31.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__links-section {
    width: 12.5rem;
    display: flex;
    justify-content: space-evenly;
  }

  p {
    font-size: 1rem;
    color: white;
  }

  button {
    font-size: 1rem;
    color: white;
    background-color: $color-red;
    border: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .footer-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: inherit;
    width: auto;
    background-color: $color-red;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  img:nth-of-type(1) {
    margin-right: 0.625rem;
    height: 1rem;
    width: 6.25rem;
  }

  img:nth-of-type(2) {
    width: 5.625rem;
  }
}
