@import "../base/base";

/* Classes associated with the header */

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 9.0625rem;
  border-top: 1px black solid;

  &__profile-container {
    display: flex;
    margin-right: 8.75rem;
  }

  &__title-container {
    width: fit-content;
    justify-content: center;
    align-content: center;
    margin-left: 8.75rem;
  }

  &__btn-container {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-right: 1.875rem;

    &-bottom {
      display: flex;
      width: 60%;
      align-items: center;
      justify-content: space-evenly;
      margin: 5.625rem 0;
    }
  }

  &__profile-picture-container {
    width: 3.75rem;
    height: 3.75rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 50%;
    justify-self: flex-end;
    align-self: center;

    img {
      width: 3.625rem;
      height: 3.625rem;
      border-radius: inherit;
    }
  }
}
