/*
  Classes associated with our Modal
*/

.modal-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 30vh;
  width: 40%;
  z-index: 6001;
  overflow: hidden;
  height: 26rem;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 1.875rem;

  @include respond(small-desktop) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond(med-mobile) {
    width: 70%;
  }

  @include respond(small-mobile) {
    width: 80%;
  }

  &__x-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
      width: 1.75rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translateX(120px);
}
