/*
  Classes associated with our Modal
*/

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 30vh;
  left: 28.6%;
  width: 40%;
  z-index: 200;
  overflow: hidden;
  height: 26rem;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 1.875rem;

  &__x-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
      width: 1.75rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translateX(120px);
}
