@import "../base/base";

/* Classes associated with our Navbar, including subnavs */

.navbar {
  width: 100%;
  height: 3.125rem;
  background-color: $color-red;
  border-bottom: 1px black solid;
  border-top: 1px black solid;

  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.subnav {
  display: flex;
  justify-content: space-evenly;
  width: 17.5rem;
  height: 100%;
  background-color: $color-red;

  a {
    color: white;
    text-decoration: none;
    align-items: center;
    transition: 0.2s ease-in-out;
  }

  a:hover {
    height: 100%;
    background-color: $color-light-red;
    cursor: pointer;
  }
}

.active {
  background-color: $color-light-red;
}
