.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 360px;
  height: 360px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 400px;
}

.info-container p {
  font-size: 26px;
  margin-bottom: 6px;
}

.address-container {
  margin-bottom: 30px;
}

.display-content {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
