.display-item {
  display: block;
  width: 250px;
  height: 400px;
  border: 2px solid #0f5797;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  box-shadow: 2px 2px 2px darkgrey;
}

.display-item:hover {
  cursor: pointer;
  background-color: rgba(235, 233, 233, 0.527);
}

.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
}
