.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
}
