.display-item-container {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 1000px;
}

.pet-display-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin-top: 20px;
}

.loading-indicator-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 600px;
}
