@import "../colors";
$breakpoint-min-mobile: 365px;
$breakpoint-max-mobile: 479px;
$breakpoint-max-tablet: 872px;
$breakpoint-min-desktop: 1048px;
$breakpoint-medium-desktop: 1184px;
$breakpoint-max-desktop: 1400px;
