@import "./breakpoints";

@media (max-width: $breakpoint-max-mobile) {
  .header-container {
    flex-direction: column;
    align-items: center;
    height: fit-content;

    .title-container {
      margin-left: -70px;
      margin-bottom: 10px;
      margin-top: 0;

      &-welcome {
        width: 80px;
        margin-left: 38px;
        margin-bottom: 0;
      }
    }

    .profile-container {
      margin-right: 0;
      margin-bottom: 16px;
      flex-direction: column-reverse;

      .button-container {
        margin-top: 8px;
        justify-content: center;
        align-items: center;
        width: 200px;

        button {
          font-size: 8px;
        }
      }
    }
  }

  .navbar {
    height: 32px;

    .subnav {
      width: 80px;
      font-size: 8px;
    }
  }

  .main-image-container {
    width: 300px;
  }

  .text-container {
    width: 300px;

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 12px;
    }
  }

  .footer-container {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 80px;

    .sponsor-info {
      .footer-image-container img {
        width: 50px;
      }
    }
  }

  .display-container-pet-skeleton {
    margin-right: 2px;
  }

  .display-container-pet-page {
    .filter-form {
      width: 60px;
      height: 480px;

      input,
      select {
        width: 57px;
        height: 30px;
      }

      button {
        width: 46px;
        height: 30px;
      }
    }
  }

  .display-container-organization-page {
    .filter-form-organization {
      width: 60px;
      height: 130px;

      input {
        width: 57px;
        height: 30px;
      }

      button {
        width: 46px;
        height: 30px;
      }
    }

    .display-container {
      width: 250px;
      min-height: 700px;

      &-organization {
        width: 250px;

        .display-item-organization {
          width: 170px;
          height: 210px;
          margin-bottom: 10px;

          &-content {
            width: 170px;
            flex-direction: column;
            align-items: center;

            .image-container {
              margin-left: 0;
              margin-bottom: -5px;
              width: 70px;
              height: 70px;
            }

            .info-container {
              width: 100px;
            }
          }
        }

        &-skeleton {
          width: 250px;
          margin-left: 10px;
          margin-top: -12px;

          .display-item-organization {
            max-width: 170px;
            min-height: 210px;

            .display-item-name-organization {
              font-size: 14px;
            }

            &-content {
              width: 170px;
              flex-direction: column;
              align-items: center;

              .image-container {
                max-width: 70px;
                max-height: 70px;
                margin-bottom: -5px;
                margin-left: 0;
              }

              .info-container {
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
}
